*{
	margin: 0px;
	padding:0px;
}
body{
	font-family:times new roman;
	padding-top:50px;
	background-color:black;
}

.container{
	background-color: Lightgrey;
	border-radius:10px;
}
.h1{
	text-align:center;
}
.container{
	text-align:justify;
	font:times new roman;
}
.card-text{
	text-align: justify:	
}
.h5{
	text:black;
}

.container a:hover{
	background-color:black;
	color:plum;
	
}
